## for_list_format

In [1]:
num=[1,2,3,4,5]
print(num)

[1,2,3,4,5]

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [3]:
type(num)

list

In [15]:
for i in num:
    print(i,'번',end='/')

1 번/2 번/3 번/4 번/5 번/

In [50]:
for i in num:
    print('%d 번'% i,end=' ')

1 번 2 번 3 번 4 번 5 번

In [71]:
i=0
if i==0:
    print('i는 0이다')
else:
    print('i는 0이 아니다')

i는 0이 아니다

In [86]:
i = int(input('숫자입력>>>'))
if i%2==0:
    print(i,'는(은) 짝수다')
else:
    print(i,'는(은) 홀수다')

숫자입력>>>20
20 는(은) 짝수다

In [192]:
sub=['국','영','수','정보']
for i in range(len(sub)):
    print(sub[i],end=' ')

국 영 수 정보

In [194]:
sub=['국','영','수','정보']
for i,s in enumerate(sub):
    print(sub[i],end=' ')

국 영 수 정보

In [201]:
sub=['국','영','수','정보']
for i,s in enumerate(sub):
    if sub[i]=='정보':
        print(i+1,'교시',sub[i],"합격")
    else:
        print(i+1,'교시',sub[i],"해당없음")

1 교시 국 해당없음
2 교시 영 해당없음
3 교시 수 해당없음
4 교시 정보 합격

In [203]:
for i in range(1,11):
    if i%2==0:
        print("파이썬")
    else:
        print("야~ 나도 파이썬 할 수 있어")

야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬

In [247]:
juso=' 인천광역시 중구 참외전로 6번지 3층 창의관 '
juso,type(juso),len(juso)

(' 인천광역시 중구 참외전로 6번지 3층 창의관 ', str, 26)

In [240]:
juso=juso.strip()

In [248]:
juso,len(juso)

(' 인천광역시 중구 참외전로 6번지 3층 창의관 ', 26)

In [249]:
addr=juso.split()
addr,len(addr),type(addr)

(['인천광역시', '중구', '참외전로', '6번지', '3층', '창의관'], 6, list)

In [250]:
addr[:2],addr[3:]

(['인천광역시', '중구'], ['6번지', '3층', '창의관'])

In [245]:
juso.startswith('인천')

False

In [253]:
juso.startswith('서울')

False

In [294]:
juso.endswith('관')

False

In [295]:
juso.endswith('동')

False

In [297]:
'인천광역시' in addr

True

In [298]:
'인천' in juso

True

## 1.Fromat

In [300]:
s='A is {},{}'
pr=s.format('사과','배')
print(pr)

A is 사과,배

In [303]:
info_1 = '학교: {}, 학번:{}, 이름:{}'
pr=info_1.format('인정산',30104,'김장후')
print(pr)

학교: 인정산, 학번:30104, 이름:김장후

### [문제1] 30부터 50까지 중에서 홀수만 출력

In [306]:
for i in range(30,51):
    if i%2==1:
        print(i)

31
33
35
37
39
41
43
45
47
49

### [문제2] 아이디(문자)를 입력받아 동일하면 회원, 아니면 "회원가입하세요." 출력

In [318]:
real ='dodo'
test = input()
if real == test:
    print("회원")
else:
    print("회원가입하세요.")

앙
회원가입하세요.

### [문제3] 입력 예) 인천정보산업고/30105/김장후 입력받아 아래 내용 출력
- 학교 : 인천정보산업고
- 학번 : 30105
- 이름 : 김장후

In [2]:
stu = input('학적 입력>>>').split('/')

print('학교 :',stu[0])
print('학번 :',stu[1])
print('이름 :',stu[2])

학적 입력>>>인정산/2013/ㅊ
학교 : 인정산
학번 : 2013
이름 : ㅊ

### [문제4] 숫자 5개를 입력받아 합계,평균 내기

In [8]:
num = list(map(int, input('숫자 5개 입력>>>').split()))
print('합계',sum(num))
print('평균',sum(num)/len(num))

숫자 5개 입력>>>1 2 3 4 5
합계 15
평균 3.0

### [문제5]